<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        table{
            border-collapse: collapse;
            border-color: black;
        }
    </style>
</head>
<body>
    <table border="1px">
        <tr>
            <th>Sq No</th>
            <th>Name</th>
            <th>Enrollment No</th>
            <th>Marks</th>
        </tr>
        <tr>
            <td>01</td>
            <td>Krushna Telange</td>
            <td>23510210546</td>
            <td>88.60%</td>
        </tr>
        <tr>
            <td>02</td>
            <td>Harshal Magar</td>
            <td>23510210547</td>
            <td>95.00%</td>
        </tr>
        <tr>
            <td>03</td>
            <td>Rohit Pingle</td>
            <td>23510210548</td>
            <td>92.00%</td>
        </tr>
        <tr>
            <td>04</td>
            <td>Arjun Telange</td>
            <td>23510210549</td>
            <td>95.20%</td>
        </tr>
    </table>
</body>
</html>