<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex Practice</title>
    <link rel="stylesheet" href="flexbox-css.css">
</head>

<body>
    <h1>Row with Wrap & Center</h1>
    <div class="container">

        <div class="box">
            <p>A</p>
        </div>

        <div class="box">
            <p>B</p>
        </div>

        <div class="box">
            <p>C</p>
        </div>

        <div class="box">
            <p>D</p>
        </div>

        <div class="box">
            <p>E</p>
        </div>

        <div class="box">
            <p>F</p>
        </div>

        <div class="box">
            <p>G</p>
        </div>

        <div class="box">
            <p>H</p>
        </div>

    </div>

    <h1>Column Layout with Space Distribution</h1>
    <div class="container2">

        <div class="box2">
            1
        </div>

        <div class="box2">
            2
        </div>
        
        <div class="box2">
            3
        </div>
        
        <div class="box2">
            4
        </div>

        <div class="box2">
            5
        </div>
    
        <div class="box2">
            6
        </div>
        
    </div>
</body>

</html>