body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.card {
    width: 300px;
    height:auto;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img {
    width: 100%;
    max-width: 250px;
    height: 330px;
    border-radius: 10px;
    margin-bottom: 20px;
}

h2 {
    margin: 0 0 10px 0;
}

p {
    margin: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    padding: 8px 16px;
    font-size: 14px;
    margin: 10px;
    background-color: #F5B027;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

button:hover {
    transition: 0.3s all ease;
    transform: scale(1.05) translateY(-5px);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}


